 resume-extraction.json
{
  "name": "Extract details from resume",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "subject:Application OR subject:Resume has:attachment"
        },
        "options": {
          "dataPropertyAttachmentsPrefixName": "Resume_",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "cd6601dc-d484-4b6a-9b5c-c890164b31fd",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "pmQCGlhYeC8Y7EQJ",
          "name": "Valeed"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Extract the following from Resume:\nName\nQualification\nSkills(separated by comma)\nExperience(with job title and duration separated by a hyphen(-)if there is more than one experience number it like 1,2 etc but I need eveything in one variable)\nThe output should only contain this extracted information in json format",
        "inputType": "binary",
        "binaryPropertyName": "Resume_0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "178a62b6-9450-436a-8c70-a1b88a407e58",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "PtNwe2zQ7cfkEzRv",
          "name": "Valeed Gemini"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "8401c092-c418-41f9-9b64-9541c5b2b651",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "19_z18lnGSqH1KHApSDPUuDA8W85TvfIx-M-6iOnfj-c",
          "mode": "list",
          "cachedResultName": "Resume Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19_z18lnGSqH1KHApSDPUuDA8W85TvfIx-M-6iOnfj-c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Resume Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19_z18lnGSqH1KHApSDPUuDA8W85TvfIx-M-6iOnfj-c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Qualification": "={{ $json.Qualification }}",
            "skills": "={{ $json.Skills }}",
            "Experiences": "={{ $json.Experience }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qualification",
              "displayName": "Qualification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "skills",
              "displayName": "skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Experiences",
              "displayName": "Experiences",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "37cdbdb5-19a9-4261-ab80-f28ffba8f649",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DpB1oe6XRRctoXxi",
          "name": "Google Sheets account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bdd2635d-22bc-4be0-badb-0aa0873d235e",
  "meta": {
    "instanceId": "ea6d255ed3939b13433eb23e95c02a509dea8b96f79d8e4700fee58f56fa2df4"
  },
  "nodeGroups": [],
  "id": "qFaPXlihQF8U2Kmi",
  "tags": []
}